{% extends "users/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2>{{ cur_user.username}}</h2>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            first name: {{ cur_user.first_name }}
        </div>
        <div>
            last name: {{ cur_user.last_name }}
        </div>
        <div>
            email: {{ cur_user.email }}
        </div>
    <div>
    phone: {{ account.phone }}
    {% if cur_user == request.user %}
        <small>
            <form action="" method="POST">
                    <a href="{% url 'update_account' user.pk %}">edit</a>
            </form>
        </small>
    {% endif %}
    </div>
        <br>
    <div>
        <h4>Posts:</h4>
        {% for post in posts %}
            <a href = "{% url 'detail_post' post.slug %}">{{ post }}</a>
            <br>
        {% endfor %}
    </div>
    <div>
        <h4>Roles:</h4>
        {% for role in roles %}
            {{ role }}
            <br>
        {% endfor %}
    </div>
    </form>
</div>
{% endblock %}

